.user-db-create {
  height: 50vh;
  display: grid;
  place-items: center;
  p {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .user-db-btn {
    padding: 0.8rem 2rem;
    font-size: 1.25rem;
  }
}

.delete-icon {
  &:hover {
    color: #dc3545;
  }
}
