.navbar-link {
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
  padding: 1.8rem 0 1rem;
  .link {
    font-size: 18px;
    color: #4a4a4a;
    padding: 0 20px;
    text-decoration: none;
  }
  .active {
    font-size: 18px;
    color: #14bef0;
    font-weight: 500;
    border-bottom: 3px solid #14bef0;
    padding: 1rem;
  }
}

.loginSignUp-img {
  width: 45%;
  img {
    width: 100%;
  }
}

.outer-form-box {
  width: 45%;
  display: block;
  padding: 2rem 1.5rem;
  border: solid 1px rgba(216, 216, 216, 0.5);
  border-radius: 4px;
  font-family: "Camphor";
  color: #787887;
  .input {
    outline: none;
    height: 2.5rem;
    margin-bottom: 1.25rem;
  }
  .label {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}
